<assembly>
    <!--
    Assembles New Relic NPI-compatible plugin distribution
    https://docs.newrelic.com/docs/plugins/developing-plugins/sharing-your-plugin/using-new-relic-platform-installer-npi-utility#requirements
    -->
    <id>bin</id>
    <formats>
        <format>tar.gz</format>
    </formats>
    <fileSets>
        <fileSet>
            <includes>
                <include>README*</include>
                <include>LICENSE*</include>
                <include>NOTICE*</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>target</directory>
            <!-- empty outputDirectory root -->
            <outputDirectory/>
            <includes>
                <include>plugin.jar</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>src/main/resources/config</directory>
            <outputDirectory>config</outputDirectory>
            <includes>
                <include>*</include>
            </includes>
        </fileSet>
    </fileSets>
</assembly>